/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark theme */
    color: #eee;
    line-height: 1.6;
}

header, footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer a, footer a:visited, header a, header a:visited {
    color: #aaa;
    text-decoration: none;
    transition: color 0.3s ease; /* transition on color */
}

footer a:hover, footer a:visited:hover, header a:hover, header a:visited:hover {
    color: #fff; /* change color on hover */
    text-decoration: underline; /* this will switch instantly */
}


header h1 {
    font-size: 2rem;
    color: #fff;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}

a, a:visited {
    color: #00bfff;
    text-decoration: none;
    transition: color 0.3s ease; /* transition on color */
}

a:hover, a:visited:hover {
    color: #009acd; /* change color on hover */
    text-decoration: underline; /* this will switch instantly */
}

p {
    margin-bottom: 1.2rem;
}

ul li {
    margin-top: 0px;
}